.header{
    height: 100px;
    width: 100%;
    background-color: #286090;
    color: white;
    font-family: cursive;

}

h1{
    font-size: 40px;
}

#panelListadoProductos{
    overflow-y: scroll;
    max-height: 350px;
}

p{
    font-size: 1.4rem;
}

#section-ofrecemos{
    max-width: 1367px;
}

@media only screen and (max-width : 767px) {
    .contain-flex{
        display:flex!important ;
        flex-direction: column!important ;
        align-content:  center;
    }

    article{
        display:flex!important ;
        align-self: center;
        margin-bottom:  40px;
    }

}


.contain-flex{
    display:flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}
article{
    display:flex;
    flex-direction: column;
    width: 33.3%;
    margin-left:10px;
}
article h3{
    order:2;
}

article p{
    order: 3;
}

article figure{
    order: 1;
}
h1.title-home{
    text-align: center;
    color: #535a6c;
    font-family: Open Sans,sans-serif;

}

.subtitle{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#nosotros{
    margin-top: 90px;
    background-color:  #286090;
    padding-bottom: 50px; 
}

.margin-left{
    margin: 5rem;
}

.supersubtitle{
    font-size: 2rem;
}

h2{
    color:#222429;

}
.titles{
    font-size: 6rem;
    color:#222429;
}

.link-transacciones{
    text-decoration: none;
    font-size: 15px;
    margin-left: 30px;
}

#cantidad{
    width: 95px!important;
}